# Compiled Object files
*.slo
*.lo
*.o
# *.obj # this better not break shit

# Executables
*.exe
*.out
*.app

# Testing directories
/home
.trash/
.objs/
.vs/

*.tlog
*.pdb
*.pch

# Visual Studio trash
*.map
*.ilk
*.exp