# Compiled Object files
*.slo
*.lo
*.o
*.obj
!/packages/

# Executables
*.exe
*.out
*.app

# Testing directories
/home
.trash/
.objs/
.vs/

*.tlog
*.pdb
*.pch

# Visual Studio trash
/bin*/*.map
/bin*/*.ilk
/bin*/*.exp
/bin*/*.lib

# Update temp files
update.cfg

# No no Steamworks API files
/src/shared/steam
/bin*/steam_appid.txt

# macOS/Xcode files
.DS_Store
xcuserdata/
