# Compiled Object files
*.slo
*.lo
*.o
*.obj
!/packages/

# Executables
*.exe
*.out
*.app

# Testing directories
/home
.trash/
.objs/
.vs/

*.tlog
*.pdb
*.pch

# Visual Studio trash
*.map
*.ilk
*.exp

*msvc.lib

# Directories that aren't public
/res/_Private

# No launcher specific files, different repo for that.
launcher.json
Newtonsoft.Json.dll
Facepunch.Steamworks.Win64.dll
Microsoft.Web.WebView2.Core.dll
Microsoft.Web.WebView2.WinForms.dll
steam_api64.dll
/*.WebView2

# Update temp files
update.cfg

# No no Steamworks API files
/src/shared/steam
/bin*/steam_appid.txt

# Ignore bundled font creation utility
/packages/fonts/cube2font

# macOS/Xcode files
.DS_Store
xcuserdata/
