[data-md-color-scheme=slate] {
	--md-hue: 8;
	--md-typeset-a-color: hsl(var(--md-hue), 100%, 50%);
	--md-primary-fg-color: hsl(var(--md-hue), 100%, 30%);
	--md-primary-fg-color--transparent: hsla(var(--md-hue), 100%, 30%, 0.1);
	--md-accent-fg-color: hsl(var(--md-hue), 100%, 26.7%);
	--md-accent-fg-color--transparent: hsla(var(--md-hue), 100%, 26.7%, 0.1);
	--md-default-bg-color: #242424;
	--md-code-bg-color: #1a1a1a;
}

.md-nav__item--section>.md-nav__link[for], .md-nav__title {
	color: hsl(var(--md-hue), 100%, 92.5%);
}