/* Cardboard Styles */
body {
	margin: 50px 4%;
	width: 90%;
	background-color: #000;
	color: #ccc;
	font-family: "Arial",sans-serif;
	font-size: 16px;
}
a {
	text-decoration: underline;
	color: #ff2400;
}
a:visited {
	color: #991600;
}
a:hover {
	color: #991600;
}
h1,h2,h3 {
	margin: 20px 0 0 0;
	padding: 1px;
	background-color: #991600;
	font-weight: bold;
}
h1 { font-size: 120%; }
h2 { font-size: 100%; }
h3 { font-size: 90%; }
pre,code,div {
	padding: 1px 10px;
}
p {
	border: 2px solid #555;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    margin-top: 0;
    padding: 16px 10px;
}
pre,code {
	font-family: monospace;
	color: #999;
	font-size: 12pt;
	border: 2px dotted #991600;
	margin-bottom: 0;
}
table,tr,td {
	margin: 0;
	padding: 0;
	border: 2px solid #991600; }
}
div.credits {
	letter-spacing: 8px;
	font-weight: bold;
}
div.contents, .wiki #toc {
	margin: 0px 0px 10px 20px;
	padding: 1px 10px 1px 1px; 
	background-color: #000; 
	border: 2px solid #991600; 
	float: right;
	clear: right;
	width: 25%;
}
ul.contents		{ list-style-type: decimal; list-style-position: outside; }
ul.contents2	{ list-style-type: disc; list-style-position: outside; }
ul.contents3	{ list-style-type: square; list-style-position: outside; }

